*{
    padding:0;
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    place-items: center;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}

main{
display:flex;
width: 50%;
margin: auto;

}

main .main-div{
width: 350vh;
height: 68vh;
color: #fff;

}
.item-a{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.item-b{
    background-color:hsl(184, 100%, 22%) ;
}
.item-c{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
}
button{
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 26px;
    margin-top: 2rem;
    color:hsl(31, 77%, 52%)

}
 .logo{
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
 }
.main-div {
    padding-left:2rem;
    padding-right: 2.8rem;
 }
 p{
    color: rgb(30, 25, 25);
    line-height: 27px;
    color: #fff;
    font-size: 14px;
 }
 .luxury-button{
    margin-top: 2rem;
    color:  hsl(179, 100%, 13%);
 }

.suv-button{
    margin-top: 2rem;
    color: hsl(184, 100%, 22%);
}
h2{
    padding-bottom: 1.8rem;
    font-size: 30px;

}


 